<!DOCTYPE html>
<html lang="en-US">
  <head>
    <%- include('partials/head') %>
    <style>
      :root {
        --global-font-size: 15px;
        --global-line-height: 1.4em;
        --global-space: 10px;
        --font-stack: Menlo, Monaco, Lucida Console, Liberation Mono,
          DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace,
          serif;
        --mono-font-stack: Menlo, Monaco, Lucida Console, Liberation Mono,
          DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace,
          serif;
        --background-color: #222225;
        --page-width: 60em;
        --font-color: #e8e9ed;
        --invert-font-color: #222225;
        --secondary-color: #a3abba;
        --tertiary-color: #a3abba;
        --primary-color: #62c4ff;
        --error-color: #ff3c74;
        --progress-bar-background: #3f3f44;
        --progress-bar-fill: #62c4ff;
        --code-bg-color: #3f3f44;
        --input-style: solid;
        --display-h1-decoration: none;
      }
    </style>
  </head>
  <body class="terminal">
    <%- include('partials/navigation', { "page": "dark" }) %>
    <div class="container">
      <p>
        <%- site.description %>
      </p>

      <%- body %>
      <hr />
      <div class="components components-grid">
        <%- include('partials/aside') %>
        <main>
          <%- include('partials/components') %> <%-
          include('partials/documentation') %>
          <hr />
          <%- include('partials/footer') %>
          <hr />
          <%- include('partials/version') %>
        </main>
      </div>
    </div>
    <%- include('partials/bottom-scripts') %>
  </body>
</html>
