<!DOCTYPE html>
<html lang="en-US">
  <head>
    <%- include('partials/head') %>
  </head>
  <body class="terminal">
    <%- include('partials/navigation', { "page": "main" }) %>
    <div class="container">
      <p>
        <%- site.description %>
      </p>
      
      <%- body %>
      <hr />
      <div class="components components-grid">
        <%- include('partials/aside') %>
        <main>
          <%- include('partials/components') %>
          <%- include('partials/documentation') %>
          <hr />
          <%- include('partials/footer') %>
          <hr />
          <%- include('partials/version') %>
        </main>
      </div>
    </div>
    <%- include('partials/bottom-scripts') %>
  </body>
</html>
